.update-profile {
    display: flex;
}

.new-image-label {
    height: 100px;
}

.new-image {
    width: 100px;
    height: 100px;
}

.image-shadow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: -102px;
    width: 100px;
    height: 100px;
    box-shadow: inset 0 0 10px 0px black;
    background-color: rgba(0, 0, 0, .3);
}

.update-bio {
    padding-left: 25px;
    width: 70vw;
}

.hidden {
    display: none;
}
