/* TODO Add site wide styles */
body,
html,
#root,
.body-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* Page Transitions */
.body-wrapper {
  width: 100%;
  position: absolute;
  transition: all 0.5s;
  will-change: opacity, right;
  margin-top: 64px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: calc(100% - 64px);
}

.motion-div {
  flex: 1 1 auto;
  height: inherit;
  width: 100%;
}

.imgUpload {
  width: 500px;
  height: 500px;
  margin: auto;
}

.image-upload-select {
  transition: all 250ms ease !important;
}

.image-upload-select:hover {
  color: #8a64c7;
}

.image-upload-select:active {
  transform: scale(0.9);
}

.iconify.new-post {
  transition: transform 150ms ease;
}

.iconify.new-post:hover {
  transform: rotate(360deg) scale(1.1) !important;
}
