/* TODO Add site wide styles */
body, html, #root, .body-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

/* Page Transitions */
.fade-enter {
    opacity: 0;
    transition: opacity 300ms ease-in;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    z-index: 3;
}
.fade-exit {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.fade-exit.fade-exit-active {
    opacity: 0;
}

.body-wrapper {
    width: 100%;
    position: absolute;
    transition: all .5s;
    will-change: opacity, right;
    margin-top: 64px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: calc(100% - 64px);
}

.imgUpload {
  width: 500px;
  height: 500px;
  margin: auto,
}